<div class="h-75 d-flex justify-content-center align-items-center">
  <div class="card w-50">
    <form class="w-100 p-5" method="POST" action="/login">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
</div>